 <div class="row">
    <% if @photos.count > 0 %>
        <% @photos.each do |photo| %>     
            <div class="col-md-4 mt-3">
                <div class="card">
                    <div class="card-header preview">
                        <%= image_tag photo.image.url %>
                    </div>
                    <div class="card-body">
                        <span class="pull-right">
                            <%= link_to photo, remote: true, method: :delete, data: {confirm: "Are you sure?"} do %>
                                <i class="fa fa-trash"></i>
                            <% end %>
                        </span>
                    </div>
                </div>
            </div>  
        <% end %>
    <% end %>
</div>