@import "bootstrap";
@import "toastr";
@import "font-awesome";

.form-group {
    margin-bottom: 30px;
}

.actions .btn {
    width: 100%;
}

.actions .btn-info {
    background-color: #FF5A5F;
    border-color: #FF5A5F;
}

.actions .btn-info:hover {
    background-color: #fc4c51;
    border-color: #fc4c51;
}

.actions .btn-primary {
    background-color: #3b5998;
    border-color: #3b5998;
}

.actions .btn-primary:hover {
    background-color: #304f91;
    border-color: #304f91;
}

.card .card-header {
    background-color: #00A699;
    border-color: #00A699;
}

.avatar-scale {
    width: 100%;
}

.sidebar-list {
    list-style-type: none;
}

.fa-check-circle{ 
    color: #00A699; 
}

.card-body .btn-danger {
    background-color: #767676;
    border-color: #767676;
}

.card-body .btn-danger:hover {
    background-color: #484848;
    border-color: #484848;
}

.form-group select {
    width: 100%;
    border: 1px solid #00A699;
    padding: 10px;
    margin: 0;
    border-radius: .5em;
    color: #767676;
    background: #fff;
    appearance: none;
    -webkit-appearance: none;
}

.action-room .btn-info {
    background-color: #FF5A5F;
    border-color: #FF5A5F;
    width: 70%;
}

.action-room .btn-info:hover {
    background-color: #fc4c51;
    border-color: #fc4c51;
}

.sidebar-list li {
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
    margin: 0;
}

.sidebar-link:hover, .sidebar-link:focus {
    color: black;
    text-decoration: none;
}
  
.active.sidebar-link {
    color: black;
    font-weight: 100;
}

.action-sidebar .btn-info {
    background-color: #FF5A5F;
    border-color: #FF5A5F;
    width: 100%;
}

.action-sidebar .btn-info:hover {
    background-color: #fc4c51;
    border-color: #fc4c51;
}

.form-group input {
    width: 100%;
    border: 1px solid #00A699;
    padding: 10px;
    border-radius: .5em;
    color: #767676;
}
  
.form-group textarea {
    border: 1px solid #00A699;
    padding: 10px;
    border-radius: .5em;
    color: #767676;
  }

.action-content .btn-info {
    background-color: #FF5A5F;
    border-color: #FF5A5F;
}

.action-content .btn-info:hover {
    background-color: #fc4c51;
    border-color: #fc4c51;
}

.form-group input[type="checkbox"] {
    height: 20px;
    width: 20px;
    border-radius: 2px;
}

.fa-caret-down { 
    position: absolute;
    margin-top: -34px;
    margin-left: 290px;
    font-size: 25px;
    color: #00A699;
}

.listing-icon .fa-caret-down { 
    position: absolute;
    margin-top: -34px;
    margin-left: 195px;
    font-size: 25px;
    color: #00A699;
}

.fa-check { 
    color: #00A699;
}

.delete-button {
    display: inline-block;
}